# VCS/editor
.git
.gitignore
.vscode
.idea
.DS_Store
Thumbs.db

# Python
**/__pycache__/
**/*.py[cod]
**/*.pyo
*.log

# Virtual envs
.venv
venv
env

# Data / artifacts
data/
mlruns/
mlflow_db/
**/.ipynb_checkpoints/

# Big notebooks outputs
notebooks/**/*.ipynb_checkpoints

# OS / misc
*.code-workspace

# We still need the .devcontainer directory for the Dockerfile, scripts, etc.


